EDA AND FEATURE ENGINERRING ON BLACK FRIDAY SALES DATA SET

In [ ]:
import pandas as pd

In [ ]:
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
df=pd.read_csv('train.csv')

In [ ]:
#step1: understanding the problem
'''Problem Statement
A retail company “ABC Private Limited” wants to understand the customer purchase behaviour (specifically, purchase amount) against various products of different categories. They have shared purchase summary of various customers for selected high volume products from last month. The data set also contains customer demographics (age, gender, marital status, city_type, stay_in_current_city), product details (product_id and product category) and Total purchase_amount from last month.
Now, they want to build a model to predict the purchase amount of customer against various products which will help them to create personalized offer for customers against different products.'''

'Problem Statement\nA retail company “ABC Private Limited” wants to understand the customer purchase behaviour (specifically, purchase amount) against various products of different categories. They have shared purchase summary of various customers for selected high volume products from last month. The data set also contains customer demographics (age, gender, marital status, city_type, stay_in_current_city), product details (product_id and product category) and Total purchase_amount from last month.\nNow, they want to build a model to predict the purchase amount of customer against various products which will help them to create personalized offer for customers against different products.'

In [ ]:
#understanding customer purchase behaviour

#build a  model to predict purchase amount of customer against different products

STEP 2: LOAD AND READ DATASET

In [ ]:
df_train = pd.read_csv('train.csv')
df_test = pd.read_csv('test.csv')

In [ ]:
#COMBINE THE 2 DATASETS
df=df_train.append(df_test)
df.head()

<ipython-input-12-a7c154290d92>:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df=df_train.append(df_test)

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370.0
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200.0
2,1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422.0
3,1000001,P00085442,F,0-17,10,A,2,0,12,14.0,NaN,1057.0
4,1000002,P00285442,M,55+,16,C,4+,0,8,NaN,NaN,7969.0

STEP 3:

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 783667 entries, 0 to 233598
Data columns (total 12 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   User_ID                     783667 non-null  int64
 1   Product_ID                  783667 non-null  object
 2   Gender                      783667 non-null  object
 3   Age                         783667 non-null  object
 4   Occupation                  783667 non-null  int64
 5   City_Category               783667 non-null  object
 6   Stay_In_Current_City_Years  783667 non-null  object
 7   Marital_Status              783667 non-null  int64
 8   Product_Category_1          783667 non-null  int64
 9   Product_Category_2          537685 non-null  float64
 10  Product_Category_3          237858 non-null  float64
 11  Purchase                    550068 non-null  float64
dtypes: float64(3), int64(4), object(5)
memory usage: 77.7+ MB

In [ ]:
df.describe()

,User_ID,Occupation,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
count,7.836670e+05,783667.000000,783667.000000,783667.000000,537685.000000,237858.000000,550068.000000
mean,1.003029e+06,8.079300,0.409777,5.366196,9.844506,12.668605,9263.968713
std,1.727267e+03,6.522206,0.491793,3.878160,5.089093,4.125510,5023.065394
min,1.000001e+06,0.000000,0.000000,1.000000,2.000000,3.000000,12.000000
25%,1.001519e+06,2.000000,0.000000,1.000000,5.000000,9.000000,5823.000000
50%,1.003075e+06,7.000000,0.000000,5.000000,9.000000,14.000000,8047.000000
75%,1.004478e+06,14.000000,1.000000,8.000000,15.000000,16.000000,12054.000000
max,1.006040e+06,20.000000,1.000000,20.000000,18.000000,18.000000,23961.000000

STEP 4: DROP UNWANTED COLUMNS
#Here we can drop Marital_status, user id.

In [ ]:
#drop user_id
df.drop(['User_ID'],axis=1,inplace=True)

In [ ]:
df.head()

,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370.0
1,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200.0
2,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422.0
3,P00085442,F,0-17,10,A,2,0,12,14.0,NaN,1057.0
4,P00285442,M,55+,16,C,4+,0,8,NaN,NaN,7969.0

STEP 5: DATA PREPROCESSING

FIXING CATEGORICAL FEATURES

In [ ]:
df.shape

(783667, 11)

In [ ]:
#1 unique way of GENDER COLUMN
df['Gender']=df['Gender'].map({'F':0,'M':1})
df.head()

,Product_ID,Gender,Age,Occupation,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase,B,C,B,C
0,P00069042,NaN,1,10,2,0,3,NaN,NaN,8370.0,0,0,0,0
1,P00248942,NaN,1,10,2,0,1,6.0,14.0,15200.0,0,0,0,0
2,P00087842,NaN,1,10,2,0,12,NaN,NaN,1422.0,0,0,0,0
3,P00085442,NaN,1,10,2,0,12,14.0,NaN,1057.0,0,0,0,0
4,P00285442,NaN,7,16,4+,0,8,NaN,NaN,7969.0,0,1,0,1

In [ ]:
#HANDLE CATEGORICAL FEATURE AGE
df['Age'].unique()

array([1, 7, 3, 5, 6, 4, 2])

In [ ]:
#Now Encoding
#1way : pd.get_dummies(df['Age'],drop_first=True)

#Targetting ordinal encoding (in sorting way in a consecutive way)
df['Age']=df['Age'].map({'0-17':1,'18-25':2,'26-35':3,'36-45':4,'46-50':5,'51-55':6,'55+':7})
df.head(13)

,Product_ID,Gender,Age,Occupation,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase,B,C,B,C,B,C
0,P00069042,NaN,NaN,10,2,0,3,NaN,NaN,8370.0,0,0,0,0,0,0
1,P00248942,NaN,NaN,10,2,0,1,6.0,14.0,15200.0,0,0,0,0,0,0
2,P00087842,NaN,NaN,10,2,0,12,NaN,NaN,1422.0,0,0,0,0,0,0
3,P00085442,NaN,NaN,10,2,0,12,14.0,NaN,1057.0,0,0,0,0,0,0
4,P00285442,NaN,NaN,16,4+,0,8,NaN,NaN,7969.0,0,1,0,1,0,1
5,P00193542,NaN,NaN,15,3,0,1,2.0,NaN,15227.0,0,0,0,0,0,0
6,P00184942,NaN,NaN,7,2,1,1,8.0,17.0,19215.0,1,0,1,0,1,0
7,P00346142,NaN,NaN,7,2,1,1,15.0,NaN,15854.0,1,0,1,0,1,0
8,P0097242,NaN,NaN,7,2,1,1,16.0,NaN,15686.0,1,0,1,0,1,0
9,P00274942,NaN,NaN,20,1,1,8,NaN,NaN,7871.0,0,0,0,0,0,0
10,P00251242,NaN,NaN,20,1,1,5,11.0,NaN,5254.0,0,0,0,0,0,0
11,P00014542,NaN,NaN,20,1,1,8,NaN,NaN,3957.0,0,0,0,0,0,0
12,P00031342,NaN,NaN,20,1,1,8,NaN,NaN,6073.0,0,0,0,0,0,0

In [ ]:
#for the test data we need to do transform

In [ ]:
#Now we ocnvert City_Category
city=pd.get_dummies(df['City_Category'],drop_first=True)

KeyError: ignored

In [ ]:
#now we combine the above dataframe
df=pd.concat([df,city],axis=1)
df.head()

,Product_ID,Gender,Age,Occupation,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase,B,C,B,C,B,C
0,P00069042,NaN,NaN,10,2,0,3,NaN,NaN,8370.0,0,0,0,0,0,0
1,P00248942,NaN,NaN,10,2,0,1,6.0,14.0,15200.0,0,0,0,0,0,0
2,P00087842,NaN,NaN,10,2,0,12,NaN,NaN,1422.0,0,0,0,0,0,0
3,P00085442,NaN,NaN,10,2,0,12,14.0,NaN,1057.0,0,0,0,0,0,0
4,P00285442,NaN,NaN,16,4+,0,8,NaN,NaN,7969.0,0,1,0,1,0,1

STEP 6: DROP CITY CATEGORY

In [ ]:
df.drop('City_Category',axis=1,inplace=True)

KeyError: ignored

In [ ]:
df.head(12)

,Product_ID,Gender,Age,Occupation,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase,B,C,B,C,B,C
0,P00069042,NaN,NaN,10,2,0,3,NaN,NaN,8370.0,0,0,0,0,0,0
1,P00248942,NaN,NaN,10,2,0,1,6.0,14.0,15200.0,0,0,0,0,0,0
2,P00087842,NaN,NaN,10,2,0,12,NaN,NaN,1422.0,0,0,0,0,0,0
3,P00085442,NaN,NaN,10,2,0,12,14.0,NaN,1057.0,0,0,0,0,0,0
4,P00285442,NaN,NaN,16,4+,0,8,NaN,NaN,7969.0,0,1,0,1,0,1
5,P00193542,NaN,NaN,15,3,0,1,2.0,NaN,15227.0,0,0,0,0,0,0
6,P00184942,NaN,NaN,7,2,1,1,8.0,17.0,19215.0,1,0,1,0,1,0
7,P00346142,NaN,NaN,7,2,1,1,15.0,NaN,15854.0,1,0,1,0,1,0
8,P0097242,NaN,NaN,7,2,1,1,16.0,NaN,15686.0,1,0,1,0,1,0
9,P00274942,NaN,NaN,20,1,1,8,NaN,NaN,7871.0,0,0,0,0,0,0
10,P00251242,NaN,NaN,20,1,1,5,11.0,NaN,5254.0,0,0,0,0,0,0
11,P00014542,NaN,NaN,20,1,1,8,NaN,NaN,3957.0,0,0,0,0,0,0

STEP 7: HANDLING MISSING VALUES

In [ ]:
df.isnull().sum()

Product_ID                         0
Gender                        783667
Age                                0
Occupation                         0
Stay_In_Current_City_Years         0
Marital_Status                     0
Product_Category_1                 0
Product_Category_2            245982
Product_Category_3            545809
Purchase                      233599
B                                  0
C                                  0
B                                  0
C                                  0
dtype: int64